* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 200px;
  height: 200px;
  &.box1 {
    background-color: red;
    position: relative;
    right: 10px;
  }

  &.box2 {
    background-color: blue;
    /* position: fixed;
    z-index: -1; */
  }

  &.box3 {
    background-color: green;
  }

  &.box4 {
    background-color: yellow;
  }
}
